@media screen and (max-width: 768px) {
  .root {
    /*
    display: inline-flex;
    */
    border: 1px solid var(--global-border);
    border-radius: var(--border-radius-lg);
    background-color: var(--pane-background);
    box-shadow: 0px 4px 20px 0px var(--shadow-basic-shadow);
    position: fixed;
    left: 16px;
    bottom: 16px;

    padding: var(--spacing-2, 8px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-2, 8px);
  }
}
